@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
  --fontdefault: "Press Start 2P", -apple-system,system-ui,BlinkMacSystemFont;
}

@supports(padding:max(0px)) {
  body, header, footer {
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

html, body {
  cursor: url("/Public/favicon.ico"), default;
  /* just change the cursor.ico path to your location */
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

body {
    background: rgb(12, 0, 85);
    background: linear-gradient(90deg, rgba(181,0,223,1) 0%, rgba(177,52,5,1) 28%, rgba(9,10,121,1) 61%, rgba(0,251,255,1) 100%);
    overflow: hidden; /* Hide scrollbars */
}

.back {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.315);
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 110vh;
}

h1 {
    text-align: center;
    padding-top: 25vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--fontdefault);
    font-size: 100px;
    color: rgb(73, 228, 255);
    text-shadow: 0px 0px 25px #008296,
    1px 1px #1fd2ff,
    2px 2px #1fd2ff,
    3px 3px #1fd2ff,
    4px 4px #1fd2ff,
    5px 5px #1fd2ff,
    6px 6px #1fd2ff,
    7px 7px #1fd2ff,
    8px 8px #1fd2ff
    ;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }

  div .buttondiv {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-top: 5%;
    font-family: var(--fontdefault);
    font-size: 20px;
    color: rgb(73, 228, 255);
    background-color: #008296;
    border: solid 3px #00ddff;
    text-shadow: 0px 0px 25px #008296;
    cursor: cell;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: mymove 2s infinite;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.version {
  color: #ffffff;
  font-family: var(--fontdefault);
  padding-top: 2%;
  padding-left: 2%;
}

.hint {
  display: block;
  text-align: center;
  color: #ffffff84;
  font-family: var(--fontdefault);
  font-size: 10px;
}

@keyframes mymove {
  50% {font-size: 30px;}
}

  a:active {
    cursor: progress;
  }



/* Desktop */
@media only screen and (min-width: 800px) {

  h1 {
    padding-top: 25vh;
  }

  button:hover {
    background-color: #00ddff;
  }

  button:active {
    cursor: wait;
  }

}

/* Mobile */
@media only screen and (max-width: 800px) {

    h1 {
        font-size: 40px;
        padding-top: 30vh;
    }

    button {
        font-size: 12px;
        border: solid 2px #00ddff;
    }

    .version {
       font-size: 12px;
       padding-top: 12%;
       padding-left: 6%;
    }

    .hint {
      display: none;
    }
  

    @keyframes mymove {
        50% {font-size: 17px;}
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

  body {
    background: linear-gradient(90deg, rgb(101, 0, 124) 0%, rgb(113, 30, 0) 28%, rgb(5, 6, 69) 61%, rgb(0, 118, 120));
  }

  div, .back {
    background-color: rgba(0, 0, 0, 0.8);
  } 

  body {
    background: rgb(0, 0, 0);
    overflow: hidden; /* Hide scrollbars */
  }

  button {
    background: rgb(0, 0, 0);
  }
  
}
