@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
  --fontdefault: "Press Start 2P", -apple-system,system-ui,BlinkMacSystemFont;
}

html, body {
  cursor: url("/Public/favicon.ico"), default;
  /* just change the cursor.ico path to your location */
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

body::-webkit-scrollbar {
  display: none !important;
}

body {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE/Edge */
  background-color: #009ec5;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding-bottom: 50px;
    height: auto;
}

::-webkit-scrollbar {
  display: none;
}

  h1 {
    text-align: center;
    font-family: var(--fontdefault);
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px #1fd2ff;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  h2 {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    color: #000000;
    font-family: var(--fontdefault);
    margin-top: 90px;
    box-shadow: 0px 0px 50px 0px #0a001d;
    transition: margin, 1s ease-in-out 0ms;
}

  h3 {
    color: #ffffff;
    font-family: var(--fontdefault);
    text-align: center;
    padding: 10px 10px 10px 10px;
    max-width: 1100px;

}

 h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100px;
 }

  a, #buglink {
    justify-content: center;
    color: #03c7f8;
    font-family: var(--fontdefault);
    text-decoration: none;
    transition: 1s ease-in-out 0ms;
}

  a, #artlink {
    color: #22d3ff;
  }

  a, #artlink:hover {
    color: #9bebff;
  }

  #bug {
    padding-top: 30px;
    padding-left: 30px;
}

  #text {
    background: linear-gradient(180deg, rgba(75,75,246,1) 0%, rgba(144,72,255,1) 100%);
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
    padding: 30px;
    margin-left: 14px;
    margin-right: 14px;
    font-family: var(--fontdefault);
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 0px 0px 20px #000000;
    cursor: help;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: font-size 1s ease-in-out 0ms;
}
  
  #game {
    max-width: 1300px;
    min-width: 40%;
    height: 40%;
    background: linear-gradient(0deg, rgba(45, 220, 255, 0.8) 0%, rgba(11, 11, 134, 0.8) 35%, rgba(24, 0, 71, 0.8) 100%);
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
    border-radius: 25px;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: width, height, 1s ease-in-out 0ms;
}
  
  #stats {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border: 3px solid #7db4fb;
    border-radius: 25px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0px 0px 5px 3px #7db4fb;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: width, height, 1s ease-in-out 0ms;
}

  #controls {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    color: #ffffff;
    cursor: cell;

}
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    margin-left: 14px;
    margin-right: 14px;
    padding: 30px;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(229,30,30,1) 0%, rgba(255,85,72,1) 100%);
    border-radius: 25px;
    border: 2px solid #000000;
    box-shadow: 0px 0px 100px 30px #ff0000;
    height: 150px;
    font-size: 30px;
    cursor: crosshair;
}

  .monstat {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: var(--fontdefault);
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: font-size 1s ease-in-out 0ms;
  }
  
  .stat {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: var(--fontdefault);
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: font-size 1s ease-in-out 0ms;
}
  
  button {
    color: #ffffff;
    background-image: linear-gradient(#247de4, #08d3bf);
    border: 1px solid #327dfe;
    width: 40%;
    height: 70px;
    border-radius: 25px;
    font-size: 20px;
    font-family: var(--fontdefault);
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0px 0px 10px #025678;
    cursor: cell;
    /* fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  button:active {
    width: 37%;
    height: 65px;
    cursor: wait;
}

  ul {
    text-align: center;
    list-style: none;
    color: #ffffff;
    font-family: var(--fontdefault);
    font-size: x-large;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 30px;
}

  #gamelogo {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease-in-out 0ms;
}

  .audio_players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgb(3, 66, 255) 0%, rgb(114, 12, 255,1) 47%, rgb(106, 42, 13,1) 100%);
    border-radius: 25px;
    box-shadow: 0px 0px 30px 5px #5a01ff;
}
  
  /* desktop */
  @media only screen and (min-width: 800px) {

    #game:hover {
      box-shadow: 0px 0px 25px #03c7f8;
    }

    button:hover {
      background-image: linear-gradient(#6bb0ff, #91fff4);
      box-shadow: 0px 0px 50px 30px #39bdfb;
    }

    button:focus {
      background-image: linear-gradient(#6bb0ff, #91fff4);
      box-shadow: 0px 0px 50px 30px #39bdfb;
    }

    .stat:hover {
      text-shadow: 0px 0px 20px #ffe27b;
    }

    #monsterStats:hover {
      box-shadow: 0px 0px 50px #ffffff;
    }

    #text:hover {
      box-shadow: 0px 0px 25px rgb(124, 124, 255);
    }

    a, #betalink:hover {
      color: #0495ba;
    }

    h2:hover {
      box-shadow: 0px 0px 50px rgb(255, 255, 255);
    }

    #gamelogo:hover {
      box-shadow: 0px 0px 25px #058aff;
    }

    ul:hover {
      color: #ffcf23;
    }

    .audio_players:hover {
      box-shadow: 0px 0px 30px #c19efd;
    }
  
    audio:hover {
      box-shadow: 0px 0px 25px rgb(243, 126, 9);
    }
    
}

  /* mobile */
  @media only screen and (max-width: 800px) {

    #game {
      box-shadow: 0px 0px 25px #03c7f8;
      margin-top: 10px;
    }

    #text {
      box-shadow: 0px 0px 25px rgb(124, 124, 255);
    }

    .stat {
      text-shadow: 0px 0px 25px #ffe27b;
    }

    h1 {
      font-size: xx-large;
    }

    h2 {
      box-shadow: 0px 0px 50px rgb(255, 255, 255);
    }
    
    button {
      font-size: medium;
      font-size: 14px;

    }

    .stat {
      font-size: 13px;
    }

    #stats {
      margin-left: 5px;
      margin-right: 5px;
    }

    #monsterStats {
      margin-left: 5px;
      margin-right: 5px;
      padding: 5px;
    }

    #text {
      font-size: 20px;
      margin-left: 5px;
      margin-right: 5px;
      padding: 13px;
    }

    #bug {
      padding-top: 10px;
      padding-left: 10px;
  }

    a, #buglink {
      font-size: small;
    }

    #gamelogo {
      width: 60%;
    }

    #gamelogo {
      box-shadow: 0px 0px 25px #058aff;
    }

    button {
      margin-left: 1px;
      margin-right: 1px;
      width: 200px;
    }

    li {
      font-size: small;
    }

    ul {
      font-size: large;
    }

    .audio_players {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }
    

}
